
.art{
	max-width: 300px;
	max-height: auto;
}

.showAllWrapper{
	display: inline-block;
	margin-left: 20px;
}


.leftColumn {
	position: relative;
  float: left;
  width: 50%;
  padding-top: 40px;
}


.partyWrapper{
	display:inline-block;
	margin-left: 60px;
	margin-top:30px;
}

.listItem{
	max-width: 170px;
	display: inline-block;
}

.partyThumbnailWrapper{
	display: flex;
	justify-content: center;
}

.partyThumbnail{
	max-width: 150px;
	max-height: auto;
}

.partyMiniThumbnail{
	max-width: 75px;
	max-height: auto;
}


.selectedItem{
	max-width: 170px;
	display: inline-block;
}



.sprite{
	display: inline-block;
}

.rightColumn {
	position: relative;
	float: right;
	max-width: 49%;
	width:49%;
	max-height: 80%;
	padding-top: 65px;
}

.drawbtn{
	border-radius: 10px;
	width:187px;
	height:77px;
	color:white;
	font-size: 24px;
	font-weight: bold;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.background{
	background-image: url('http://granbluefantasy.jp/en/world/images/island/image_03.jpg');
	max-width: 1334px;
  max-height: 700px;
  height: 500px;
  background-size: cover;
  background-position: center;
}