
.sprite{
	display: inline-block;
}

.drawbtn{
	border-radius: 10px;
}

.listItem{
	max-width: 170px;
	display: inline-block;
}

.partyThumbnail{
	max-width: 150px;
	max-height: auto;
}

.art{
	max-width: 300px;
	max-height: auto;
}