@keyframes modalFade {
  from {transform: translateY(-100%);opacity: 0;}
  to {transform: translateY(0);opacity: 1;}
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  animation-name: modalFade;
  animation-duration: 1s;
  z-index: 2;
}

.wrapper{
	background-image: url('https://www.rpnation.com/gallery/parchment-paper-div-test.33588/full');
	background-position: center bottom;
	overflow: hidden;
	position: relative;
	max-width: 90%;
	max-height: auto;
	margin: 0 auto;
	margin-top: 50px;
}

.drawArt{

	max-height: 80%;
	max-width: 50%;
	margin: 0 auto;
	animation-name: modalRetreat;
	animation-duration: 1s;
}

.details{
	position: relative;
	font-family: 'PT Serif', serif;
	float: right;
	max-width: 49%;
	max-height: 80%;
	margin: 110px auto;

}

.name{
	padding: 10px;
}

.subtitle{
	padding: 10px;
}

.description{
	padding: 10px;
}


@keyframes modalRetreat {
  from {transform: translateX(-100%);opacity: 0;}
  to {transform: translateX(0);opacity: 1;}
}

.emptyModal {

  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  animation-name: modalRetreat;
  animation-duration: 1s;


}